.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  &__form{
    background: #fff;
    padding: 48px 40px 40px 40px;
    border-radius: 37px;
    width: 448px;
    height: 593px;

    form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .popup__form__button{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 5px;
      }
    }
  }
  &__form-delete{
    background: #fff;
    padding: 48px 40px 40px 40px;
    border-radius: 37px;
    width: 448px;
    height: 300px;

    form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 28px;

      p{
        height: 100%;
        display: flex;
        align-items: flex-start;
      }

      .popup__form__button{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 5px;
      }
    }
  }
}
