$default-white: #FFFFFF;

$background-header: #E9F3FF;
$main-color: #2F7FD5;
$light-grey-color: #f1f1f2;

$table-head-color: #2F4C97;
$table-hover-color:#f6f9ff;
$table-active-color: #e9f0ff;

$button-default: #2F67D5;
$button-default-hover: #3C7CF8;
$button-default-active: #194EB6;
$button-default-disabled: #D8DEE9;

$button-secondary: #FFFFFF;
$button-secondary-hover: #3C7CF81A;
$button-secondary-active: #194EB633;
$button-icon-active: #B5D3FF;

$input-default: 1px solid #BBC5C9;
$input-active: 1px solid #2F7FD5;
$input-filled: 1px solid #505662;
$input-error: 1px solid #DA1B1B;

$link-hover: #8FAFFF;
